workflows/research-literature-digest-agent.workflow.json
{
  "name": "Research Literature Digest Agent",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Daily Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300],
      "notes": "Fires every day at 08:00 UTC. Change the cron expression to '0 8 * * 1' for weekly (Monday)."
    },
    {
      "parameters": {
        "jsCode": "// ── Topic buckets ──────────────────────────────────────────────\n// Each bucket defines an arXiv search query and a relevance\n// threshold (1-10). Papers scored below the threshold are\n// dropped before the digest is compiled.\n//\n// Edit these to match your own research interests.\n\nconst topics = [\n  {\n    label: 'Medical imaging',\n    searchQuery:\n      'cat:cs.CV AND (all:\"medical imaging\" OR all:radiology OR all:MRI OR all:CT OR all:ultrasound)',\n    threshold: 7\n  },\n  {\n    label: 'Code generation LLMs',\n    searchQuery:\n      'cat:cs.CL AND (all:\"code generation\" OR all:\"program synthesis\" OR all:LLM OR all:\"large language model\")',\n    threshold: 8\n  },\n  {\n    label: 'Multi-agent systems',\n    searchQuery:\n      'cat:cs.AI AND (all:\"multi-agent\" OR all:agentic OR all:\"tool use\" OR all:orchestration)',\n    threshold: 7\n  }\n];\n\nreturn topics.map(topic => ({\n  json: {\n    label: topic.label,\n    threshold: topic.threshold,\n    url:\n      'https://export.arxiv.org/api/query?' +\n      'search_query=' + encodeURIComponent(topic.searchQuery) +\n      '&start=0&max_results=15' +\n      '&sortBy=submittedDate&sortOrder=descending'\n  }\n}));"
      },
      "id": "topic-builder",
      "name": "Build Topic Queries",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "jsCode": "// ── Helpers ────────────────────────────────────────────────────\nconst decodeXml = (value) =>\n  String(value || '')\n    .replace(/&amp;/g, '&')\n    .replace(/&lt;/g, '<')\n    .replace(/&gt;/g, '>')\n    .replace(/&quot;/g, '\"')\n    .replace(/&#39;/g, \"'\")\n    .replace(/&#x2F;/g, '/');\n\nconst extract = (text, regex) => {\n  const m = text.match(regex);\n  return m ? decodeXml(m[1].trim()) : '';\n};\n\n// ── Fetch each topic feed ─────────────────────────────────────\nconst allItems = [];\n\nfor (const item of items) {\n  let xml;\n  try {\n    xml = await this.helpers.httpRequest({\n      method: 'GET',\n      url: item.json.url,\n      json: false,\n      timeout: 30000\n    });\n  } catch (err) {\n    // arXiv may rate-limit or time out — skip this bucket\n    // and continue with the others.\n    console.warn(`arXiv fetch failed for \"${item.json.label}\": ${err.message}`);\n    continue;\n  }\n\n  const entries = xml.match(/<entry>[\\s\\S]*?<\\/entry>/g) || [];\n\n  for (const entryXml of entries) {\n    const idUrl      = extract(entryXml, /<id>([\\s\\S]*?)<\\/id>/);\n    const title      = extract(entryXml, /<title>([\\s\\S]*?)<\\/title>/).replace(/\\s+/g, ' ');\n    const abstract   = extract(entryXml, /<summary>([\\s\\S]*?)<\\/summary>/).replace(/\\s+/g, ' ');\n    const published  = extract(entryXml, /<published>([\\s\\S]*?)<\\/published>/);\n    const authorTags = [...entryXml.matchAll(/<author>\\s*<name>([\\s\\S]*?)<\\/name>\\s*<\\/author>/g)];\n    const authors    = authorTags.map(m => decodeXml(m[1].trim())).join(', ');\n    const arxivId    = idUrl.split('/abs/').pop() || idUrl.split('/').pop() || '';\n\n    // Derive the direct-PDF link from the abstract link.\n    const pdfLink = idUrl.replace('/abs/', '/pdf/') + '.pdf';\n\n    allItems.push({\n      json: {\n        arxivId,\n        title,\n        authors,\n        abstract,\n        arxivLink: idUrl,\n        pdfLink,\n        publishDate: published,\n        topicLabel: item.json.label,\n        threshold: item.json.threshold\n      }\n    });\n  }\n\n  // Be polite to the arXiv API — 3-second pause between requests.\n  if (items.indexOf(item) < items.length - 1) {\n    await new Promise(r => setTimeout(r, 3000));\n  }\n}\n\nif (allItems.length === 0) {\n  return [{ json: { _empty: true, reason: 'arXiv returned no entries for any topic.' } }];\n}\n\nreturn allItems;"
      },
      "id": "fetch-arxiv",
      "name": "Fetch arXiv Papers",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 300]
    },
    {
      "parameters": {
        "jsCode": "// ── Deduplication with TTL cleanup ────────────────────────────\n// Uses n8n workflow static data to remember arXiv IDs across\n// executions.  Entries older than 90 days are pruned so the\n// store does not grow without bound.\n\nconst PRUNE_DAYS = 90;\nconst staticData = this.getWorkflowStaticData('global');\nstaticData.seenArxivIds = staticData.seenArxivIds || {};\n\n// Prune stale entries.\nconst cutoff = Date.now() - PRUNE_DAYS * 86_400_000;\nfor (const [id, ts] of Object.entries(staticData.seenArxivIds)) {\n  if (new Date(ts).getTime() < cutoff) {\n    delete staticData.seenArxivIds[id];\n  }\n}\n\n// Filter to papers we have not seen yet.\nconst fresh = [];\nfor (const item of items) {\n  if (!item.json.arxivId || item.json._empty) continue;\n\n  if (!staticData.seenArxivIds[item.json.arxivId]) {\n    staticData.seenArxivIds[item.json.arxivId] = new Date().toISOString();\n    fresh.push({ json: { ...item.json, isNew: true } });\n  }\n}\n\nif (fresh.length === 0) {\n  return [{ json: { _empty: true, reason: 'All papers were previously seen.' } }];\n}\n\nreturn fresh;"
      },
      "id": "dedupe",
      "name": "Deduplicate Papers",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-papers",
              "leftValue": "={{ $json._empty }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notTrue"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-has-papers",
      "name": "Has New Papers?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1200, 300]
    },
    {
      "parameters": {
        "jsCode": "// ── Build the summarization prompt for each paper ────────────\nconst RESEARCH_PROFILE =\n  'Deep learning for medical imaging, code generation LLMs, and multi-agent systems.';\n\nreturn items.map(item => {\n  const p = item.json;\n  const prompt = [\n    `Research profile: ${RESEARCH_PROFILE}`,\n    '',\n    'Summarize the following arXiv paper in 2-3 plain-language sentences',\n    'and rate its relevance to the research profile on a 1-10 scale.',\n    '',\n    'Return ONLY valid JSON (no markdown fences, no preamble):',\n    '{',\n    '  \"summary\": \"<2-3 sentence summary>\",',\n    '  \"relevance_score\": <integer 1-10>,',\n    '  \"tags\": [\"<tag1>\", \"<tag2>\", \"<tag3>\"]',\n    '}',\n    '',\n    `Title: ${p.title}`,\n    `Authors: ${p.authors}`,\n    `Abstract: ${p.abstract}`,\n    `Topic bucket: ${p.topicLabel}`\n  ].join('\\n');\n\n  return { json: { ...p, prompt } };\n});"
      },
      "id": "build-prompt",
      "name": "Build LLM Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1440, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "content-type",      "value": "application/json" },
            { "name": "anthropic-version",  "value": "2023-06-01" },
            { "name": "x-api-key",          "value": "={{ $env.ANTHROPIC_API_KEY }}" }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-6\",\n  \"max_tokens\": 400,\n  \"temperature\": 0.2,\n  \"system\": \"You are a research digest assistant. Return only valid JSON, no markdown fences.\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify($json.prompt) }}\n    }\n  ]\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "anthropic-summary",
      "name": "Summarize with Claude",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1680, 300],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// ── Parse Claude responses and reunite them with paper metadata ──\n//\n// The httpRequest node replaces item.json with the API response,\n// so paper metadata (title, authors, …) is no longer on the item.\n// We recover it from the Build LLM Prompt node output, which\n// n8n keeps available via $('Build LLM Prompt').all().\n\nconst originals = $('Build LLM Prompt').all();\nconst parsed    = [];\n\nfor (let i = 0; i < items.length; i++) {\n  const response = items[i].json;\n  const paper    = originals[i]?.json || {};\n\n  // Skip items that failed (continueOnFail passes them through).\n  if (response.error || response.errorMessage) continue;\n\n  const rawText =\n    response.content?.[0]?.text ||\n    response.body?.content?.[0]?.text ||\n    '';\n\n  if (!rawText) continue;\n\n  let payload;\n  try {\n    const cleaned = rawText.replace(/```json|```/g, '').trim();\n    payload = JSON.parse(cleaned);\n  } catch {\n    // Unparseable response — skip this paper.\n    continue;\n  }\n\n  const score     = Number(payload.relevance_score || 0);\n  const threshold = Number(paper.threshold || 7);\n  if (score < threshold) continue;\n\n  parsed.push({\n    json: {\n      title:          paper.title          || '(untitled)',\n      authors:        paper.authors        || '',\n      publishDate:    paper.publishDate    || '',\n      arxivLink:      paper.arxivLink      || '',\n      pdfLink:        paper.pdfLink        || '',\n      topicLabel:     paper.topicLabel     || '',\n      summary:        payload.summary      || '',\n      relevanceScore: score,\n      tags:           Array.isArray(payload.tags) ? payload.tags : []\n    }\n  });\n}\n\nif (parsed.length === 0) {\n  return [{ json: { _empty: true, reason: 'No papers met the relevance threshold.' } }];\n}\n\n// Sort highest-relevance first.\nparsed.sort((a, b) => b.json.relevanceScore - a.json.relevanceScore);\n\nreturn parsed;"
      },
      "id": "parse-filter",
      "name": "Parse and Filter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1920, 300]
    },
    {
      "parameters": {
        "jsCode": "// ── Compile the final Markdown digest ─────────────────────────\nconst date = new Date().toISOString().slice(0, 10);\n\n// Handle the \"no papers\" sentinel.\nif (items.length === 1 && items[0].json._empty) {\n  return [{\n    json: {\n      markdown: `# 📚 Research Digest — ${date}\\n\\n_No new papers met the relevance threshold today._`,\n      hasEntries: false\n    }\n  }];\n}\n\n// Group papers by topic for readability.\nconst byTopic = {};\nfor (const item of items) {\n  const label = item.json.topicLabel || 'Uncategorized';\n  if (!byTopic[label]) byTopic[label] = [];\n  byTopic[label].push(item.json);\n}\n\nlet body = '';\nfor (const [topic, papers] of Object.entries(byTopic)) {\n  body += `## ${topic}\\n\\n`;\n  for (const p of papers) {\n    body += `### ${p.title}\\n`;\n    body += `- **Authors:** ${p.authors}\\n`;\n    body += `- **Published:** ${p.publishDate.slice(0, 10)}\\n`;\n    body += `- **Relevance:** ${p.relevanceScore}/10\\n`;\n    body += `- **Tags:** ${p.tags.join(', ')}\\n`;\n    body += `- **Summary:** ${p.summary}\\n`;\n    body += `- **arXiv:** [${p.arxivLink}](${p.arxivLink}) · [PDF](${p.pdfLink})\\n\\n`;\n  }\n}\n\nconst totalPapers = items.length;\nconst topicCount  = Object.keys(byTopic).length;\n\nconst markdown = [\n  `# 📚 Research Digest — ${date}`,\n  '',\n  `> ${totalPapers} paper${totalPapers === 1 ? '' : 's'} across ${topicCount} topic${topicCount === 1 ? '' : 's'}`,\n  '',\n  body.trimEnd()\n].join('\\n');\n\nreturn [{ json: { markdown, hasEntries: true } }];"
      },
      "id": "build-digest",
      "name": "Build Markdown Digest",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2160, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SLACK_WEBHOOK_URL }}",
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={\n  \"text\": {{ JSON.stringify($json.markdown) }}\n}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "send-slack",
      "name": "Notify Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2400, 300],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "content": "### 🤖 Optional: AI Agent Extension\n\nYou can replace the **Summarize with Claude** httpRequest node\nwith an n8n **AI Agent** node for richer tool-use capabilities\n(e.g., letting Claude search the web for related work).\n\n**Steps:**\n1. Add an AI Agent node (`@n8n/n8n-nodes-langchain.agent`)\n2. Configure it with your Anthropic credential\n3. Attach tools (web search, calculator, etc.)\n4. Wire it between Build LLM Prompt → Parse and Filter\n5. Delete the httpRequest-based Summarize node\n\nThe rest of the workflow stays the same.",
        "width": 360,
        "height": 300
      },
      "id": "sticky-agent-note",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1620, 520]
    },
    {
      "parameters": {
        "content": "### ⚙️ Environment Variables\n\n| Variable | Purpose |\n|---|---|\n| `ANTHROPIC_API_KEY` | Claude API key |\n| `SLACK_WEBHOOK_URL` | Slack incoming webhook |",
        "width": 320,
        "height": 160
      },
      "id": "sticky-env-note",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [180, 480]
    }
  ],
  "connections": {
    "Daily Schedule": {
      "main": [
        [
          { "node": "Build Topic Queries", "type": "main", "index": 0 }
        ]
      ]
    },
    "Build Topic Queries": {
      "main": [
        [
          { "node": "Fetch arXiv Papers", "type": "main", "index": 0 }
        ]
      ]
    },
    "Fetch arXiv Papers": {
      "main": [
        [
          { "node": "Deduplicate Papers", "type": "main", "index": 0 }
        ]
      ]
    },
    "Deduplicate Papers": {
      "main": [
        [
          { "node": "Has New Papers?", "type": "main", "index": 0 }
        ]
      ]
    },
    "Has New Papers?": {
      "main": [
        [
          { "node": "Build LLM Prompt", "type": "main", "index": 0 }
        ],
        []
      ]
    },
    "Build LLM Prompt": {
      "main": [
        [
          { "node": "Summarize with Claude", "type": "main", "index": 0 }
        ]
      ]
    },
    "Summarize with Claude": {
      "main": [
        [
          { "node": "Parse and Filter", "type": "main", "index": 0 }
        ]
      ]
    },
    "Parse and Filter": {
      "main": [
        [
          { "node": "Build Markdown Digest", "type": "main", "index": 0 }
        ]
      ]
    },
    "Build Markdown Digest": {
      "main": [
        [
          { "node": "Notify Slack", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    { "name": "research" },
    { "name": "ai" },
    { "name": "digest" }
  ],
  "versionId": "2"
}